@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.shop
		&-side
			width: 200px!important
		&-product
			max-width: 700px
			&-item
				width: 150px
				margin-right: 10px
				margin-bottom: 15px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
		header
			.nav-section
					padding: 55px 15px 0px 15px
					.menu
						&-item
							margin-left: 10px
			.home-section
				background-size: cover
				h2
					font-size: em(45px)
		.sort
			margin: 20px 0 10px 0
			&-row
				&-category
					&-item
						padding: 0 10px 0 5px
				&-select
					&-item
						margin: -1.5% 10px 0 0
						.list
							margin-right: 10px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
