@import "bourbon"
@import "var.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/font-awesome/css/font-awesome"
@import "app/css/ui-slider"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
.red-star
	color: $redBorder
.sort
	margin: 40px 0 10px 0
	&-row
		padding: 15px 0px
		background-color: #fff
		border: 1px solid #eeeeee
		&-category
			list-style: none
			margin-top: .5%
			&-item
				float: left
				display: inline-block
				text-transform: uppercase
				padding: 0 15px 0 9px
				background: url(../img/sort/delimiter.png) no-repeat right center
				transition: all .5s ease
				&:last-child
					background: none
				&:hover
					transform: scale(1.1)
		&-select
			&-item
				margin: -.5% 30px 0 0
				float: right
				span
					display: inline-block
					margin-right: 10px
				.list
					margin-right: 100px
				.first
					display: inline-block
					background: url(../img/sort/squares.png) no-repeat
					width: 28px
					margin-right: 5px
				.second
					display: inline-block
					background: url(../img/sort/sort-red.png) no-repeat
					width: 28px
.shop
	margin-top: 40px
	padding-bottom: 55px
	border-bottom: 5px solid #000
	&-product
		max-width: 830px
		float: left
		display: flex
		flex-flow: row wrap
		position: relative
		.page
			&-list
				margin: 40px 0
				padding: 10px
				background-color: #fff
				border: 2px solid #eee
				width: 98%
				letter-spacing: 10px
				&-link
					font-weight: bold
					&:focus
						color: $redBorder
		.sale
			position: absolute
			top: 20px
			left: 20px
			padding: 15px 10px
			font-weight: bolder
			color: #fff
			opacity: .99
			z-index: 2
			&::before
				content: ''
				position: absolute
				top: 0px
				left: 0
				z-index: -1
				display: block
				background: $redBorder
				width: 50px
				height: 50px
				border-radius: 50px
				opacity: .8
		&-item
			width: 265px
			margin-right: 10px
			margin-bottom: 15px
			position: relative
			img
				width: 100%
				z-index: 2
				position: relative
			&-description
				background-color: #fff
				padding: 15px 10px
				box-shadow: 0px 8px 15px -6px rgba(0,0,0,0.75)
				border-radius: 0 0 10px 10px
				position: relative
				top: -10px
				h4
					margin: 5px 0
					.artist
						font-style: italic
						font-weight: normal
				.text
					&-prod
						margin: 5px 0
						padding: 2px
						overflow: hidden
						&-toggle
							display: none
				.price
					&-item
						font-weight: bold
						&-new
							background: $redBorder
							color: #fff
							font-weight: bolder
							padding: 1px
							margin-left: 5px
					.add-button
						background: $buttonColor
						display: inline-block
						color: #fff
						padding: 5px 10px
						border-radius: 10px
						float: right
	&-side
		max-width: 290px
		margin-left: 10px
		float: right
		.side-content
			h3
				padding: 10px 5px 0 5px
				margin: 0
				font-size: em(20px)
				text-transform: uppercase
				font-family: 'OswaldRegular', sans-serif
			.toggle-item
				margin-top: 10px
				padding: 10px
				border-top: 1px dotted
				position: relative
				&-zone
					height: 0
					opacity: 0
					transition: all .5s ease
				input[type="checkbox"]
					display: none
				input[id="toggle-sub1"]:checked ~label>.toggle-item-zone
					height: 70px
					opacity: 1
				input[id="toggle-sub2"]:checked ~label>.toggle-item-zone
					height: 190px
					opacity: 1
				input[id="toggle-sub3"]:checked ~label>.toggle-item-zone
					height: 180px
					opacity: 1
				input[id="toggle-sub4"]:checked ~label>.toggle-item-zone
					height: 170px
					opacity: 1
				.minus
					position: absolute
					top: -3px
					left: -10px
					height: 5px
					width: 45px
					background-color: $redBorder
					cursor: pointer
					animation-duration: 1s
					.pluse
						content: ''
						position: absolute
						top: 0px
						left: 0
						height: 5px
						width: 45px
						background-color: $redBorder
						cursor: pointer
						transform: rotate(90deg)
						opacity: 0
						animation-duration: 1s
				.prise
					margin-top: 10px
					padding: 10px 15px
					#amount
						background: transparent
						color: #000!important
						width: 35%
					.button
						background-color: $buttonColor
						display: inline-block
						padding: 5px 15px
						color: #fff
						text-transform: uppercase
						margin-left: 25px
						transition: all .5s ease
						&:hover
							transform: scale(1.1)
					input
						width: 100%
						margin-bottom: 10px
				.best
					margin: 10px 0
					display: inline-block
					position: relative
					width: 100%
					&-dicription
						position: absolute
						display: inline-block
						padding-left: 10px
						h4
							margin: 0
							padding: 0
						.comments
							font-size: em(11px)
							padding: 0px 20px
							&::before
								position: absolute
								bottom: 15%
								left: 10%
								content: ''
								background: url(../img/shop/comm.png)
								width: 13px
								height: 12px
				.category
					list-style: none
					font-size: em(15px)
					font-weight: bold
					margin: 0 0 15px 0
					padding: 0
					&-item
						border-bottom: 2px dotted #d9d9d9
						padding: 5px
						background: url() 0 0 no-repeat
						position: relative
				.search
					margin-top: 10px
					position: relative
					input[type="text"]
						padding: 5px 20px
						color: #c3c2c2
						width: 100%
						opacity: .5
						transition: all .3s ease
						font-style: italic
						&:focus
							opacity: 1
							a
								opacity: 1
					.fa
						position: absolute
						top: 30%
						right: 5%
						font-size: em(20px)
						opacity: .7

	@keyframes move
		from
			transform: rotate(0deg) scale(1)
		to
			transform: rotate(90deg) scale(.7)
	@keyframes move-back
		from
			transform: rotate(90deg) scale(.7)
		to
			transform: rotate(0deg) scale(1)
	@keyframes opac
		from
			opacity: 0
		to
			opacity: 1
	@keyframes opac-back
		from
			opacity: 1
		to
			opacity: 0
footer
	color: #fff
	background: url(../img/footer/bg.jpg) repeat
	padding: 30px
	position: relative
	.button-scroll-top
		display: block
		position: absolute
		top: -20px
		right: 35px
		color: #fff
		background-color: $redBorder
		padding: 5px 10px
		&:hover
			animation-name: UpDown
			animation-duration: 1.5s
			animation-iteration-count: infinite
		@keyframes UpDown
			0%
				transform: translateY(0px)
			50%
				transform: translateY(10px)
			100%
				transform: translateY(0px)
	.social
		&__item
			padding: 0
		&-button
			&-link
				background: url(../img/footer/social-button.png) 0 0
	h3
	.archive
		padding: 0
		list-style: none
		&-item
			padding: 10px
		li+li
			border-top: 2px dotted #fff
	.popular
		&-discription
			display: flex
			margin-bottom: 9px
			img
				border: 4px solid #28292a
				max-width: 50%
			.best-dicription
				padding-left: 10px
	.search-foot
		input
			opacity: .28
			background: #000
			border: 1px solid #fff
			padding: 10px
			width: 100%
	.tag-foot
		.tag-item
			display: inline-block
			background: #2a2a2a
			padding: 2px 5px
			margin: 0  0 5px 5px
//ALWAYS END
@import "media"
